<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments.html :: headerfiles">
    <title>Index</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div class=" loanDiv my-3 p-3 rounded">
        <h4 class="border-bottom border-dark pb-2 mb-0 text-center">Vos emprunts récents</h4>
        <div class="media pt-3">
            <i class="far fa-bookmark fa-2x"></i>
            <div class="media-body pl-2 pb-2 mb-0 small lh-125 border-bottom border-dark">
                <p class="h4 d-block text-capitalize text-gray-dark"><u>Titre livre - Auteur</u></p>
                <p class="lead">Emprunté le 12/11/2019. Retour prévu avant le 12/12/2019</p>
                <p><em> Vous avez la possibilité de prolonger cet emprunt de 4 semaines supplémentaires</em><br/>
                    <button class="align-middle btn btn-round mt-2 mb-0 btnLoan">Prolonger</button>
                </p>
            </div>
        </div>
        <div class="media pt-3">
            <i class="far fa-bookmark fa-2x"></i>
            <div class="media-body pl-2 pb-2 mb-0 small lh-125 border-bottom border-dark">
                <p class="h4 d-block text-capitalize text-gray-dark"><u>Titre livre - Auteur</u></p>
                <p class="lead">Emprunté le 12/11/2019. Retour prévu avant le 12/12/2019</p>
                <p><em> Vous avez la possibilité de prolonger cet emprunt de 4 semaines supplémentaires</em><br/>
                    <button class="align-middle btn btn-round mt-2 mb-0 btnLoan">Prolonger</button>
                </p>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments.html :: linkscripts"></footer>
</body>
</html>