<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
    <title>Rechercher un Livre</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div class="searchDiv my-3 p-3 rounded">
        <!-- Underlined search bars -->
        <form th:action="search">
                <div class="input-group mt-2 mb-3">
                    <input id="exampleFormControlInput1" type="search" placeholder="Rechercher un livre par titre ou par auteur" class="form-control form-control-underlined">
                    <div class="input-group-append">
                        <button id="buttonSearch" type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
                    </div>
                </div>
        </form>
    </div>
    <div class="searchDiv my-3 p-3 rounded">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:insert="fragments.html :: linkscripts"></footer>
</body>
</html>